.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04141c;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 32px;
    background-color: #001e2b;
    width: 377px;
    border-radius: 7px;
}

.content h1 {
    color: #ffffff;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 35px;
}


.content p {
    color: #ffffff;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    width: 212px;
}

